/* Import work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============================== */
/*                  Default Style */
/* ============================== */

:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --primaryFont: "Work Sans", sans-serif;
  --bgOrange: rgba(255, 144, 14, 0.1);
  --orange: #ff900e;
  --bgSecondary: #fff4e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
}

.btn-primary {
  background: var(--orange);
  color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  border: 0px;
  font-size: 1.25rem;
  cursor: pointer;
}

/* font-family: 'Work Sans', sans-serif; */

/* ============================== */
/*                 Navbar Section */
/* ============================== */
header {
  padding: 2rem 0;
  background: var(--bgOrange);
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  font-size: 2rem;
  width: 50%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
ul > li {
  list-style: none;
  /* color: var(--dark-02); */
}

.nav_link {
  text-decoration: none;
  color: var(--dark-02);
  cursor: pointer;
}

/* ============================== */
/*                 Banner Section */
/* ============================== */
.banner {
  width: 80%;
  margin: 5rem auto 0;
}

.banner_top {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.banner_top h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.banner_top p {
  width: 85%;
  margin: 0 auto 2.5rem;
  color: var(--dark-03);
}
.banner_top button {
}

.banner_bottom {
  width: 100%;
}
.banner_bottom img {
  width: 100%;
}

/* ============================== */
/*                 Team Section */
/* ============================== */
section.team-container {
  display: flex;
  flex-direction: row;
  width: 74%;
  margin: auto;
  margin-top: 85px;
  margin-bottom: 130px;
  align-items: center;
}
.team-container {
}

.team-images {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  width: 50%;
  /* width: 45%; */
}
.team-images img {
  width: 100%;
}
.team-content {
  width: 50%;
  margin-left: 76px;
}
.team-title {
  font-size: 2.5rem;
  margin-bottom: 24px;
}

.team-title .quick-link {
  color: var(--dark-03);
  font-weight: 400;
}
.team-title .of-our {
  color: var(--dark-01);
}
.team-title .features {
  color: var(--orange);
}
.team-content p {
  font-size: 0.88rem;
  color: var(--dark-03);
  margin-bottom: 32px;
}

/* ============================== */
/*                Feature Section */
/* ============================== */

.featuer-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.feature-left {
  width: 50%;
  margin-right: 50px;
}

.feature-left-top {
}

.feature-left-title {
  border-left: 5px solid var(--orange);
  margin: 24px 0px 24px 0;
  padding-left: 21px;
  font-size: 2.5rem;
}

.feature-left-top p {
  color: var(--dark-03);
  font-size: 0.9rem;
}

.feature-left-bottom {
  margin-top: 30px;
}
.feature-card {
  border-radius: 8px;
  background: #fff;
  display: flex;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px 42px 30px 30px;
}
.feature-card h4 {
}
.feature-card p {
  font-size: 0.95rem;
  color: var(--dark-03);
}

.feature-right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.feature-right img {
  width: 85%;
  box-sizing: border-box;
  justify-content: right;
  height: 80%;
}
.ten-years-badge {
  background: var(--orange);
  width: 250px;
  text-align: center;
  color: #fff;
  padding: 35px;
  border-radius: 8px;
  position: absolute;
  bottom: 123px;
  left: 0;
}
.ten-years-badge h3 {
  font-size: 2rem;
}
.ten-years-badge p {
  font-size: 1.2rem;
}
/* ============================== */
/*                   Fact Section */
/* ============================== */
.fact-container {
  width: 80%;
  margin: auto;
  margin-top: 130px;
}

.fact-top {
}
.fact-top h3 {
  font-size: 2.5rem;
}
.fact-top p {
  width: 542px;
  color: var(--dark-03);
  font-size: 0.98rem;
  margin-top: 30px;
}

.fact-bottom {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 100px;
  gap: 10px;
}

.fact-card {
  border: 1px solid var(--orange);
  border-radius: 8px;
  padding: 36px;
  text-align: center;
}
.fact-card img {
}
.fact-card h3 {
  font-size: 2.5rem;
  color: var(--dark-01);
}
.fact-card p {
  color: var(--dark-03);
  font-size: 1rem;
  font-weight: 600;
}

/* ============================== */
/*                Sponsor Section */
/* ============================== */
.sponsor-container {
  margin-top: 180px;
  width: 80%;
  margin: 180px auto 0;
}

.sponsor-top {
  text-align: center;
  margin-bottom: 50px;
}
.sponsor-top h3 {
  font-size: 2.5rem;
  color: var(--dark-01);
}
.sponsor-top p {
  width: 542px;
  margin: 24px auto 0;
  font-size: 0.96rem;
  color: var(--dark-03);
}
.sponsor-bottom {
  display: flex;
  justify-content: space-between;
  filter: grayscale(1);
}
.sponsor-bottom img {
  width: 130px;
}

/* ============================== */
/*                Sponsor Section */
/* ============================== */
.footer {
  width: 80%;
  margin-top: 130px;
  padding: 39px;
  margin: 130px auto 216px;
  text-align: center;
  color: var(--dark-02);
  background: var(--bgOrange);
  font-size: 1rem;
}

.footer span {
}

/* ============================== */
/*         Responsive Media Query */
/*                 Mobile Devides */
/*=============================== */

@media screen and (max-width: 576px) {
  header {
    width: 100vw;
  }

  .navbar {
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .header_title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }

  .navbar ul {
    justify-content: space-between;
    width: 100%;
  }

  .banner {
    width: 90%;
    margin: 3rem auto 0;
  }

  .banner_top h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .banner_top p {
    width: 100%;
    margin: 0 auto 2rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .banner_top {
    margin-bottom: 2rem;
  }

  .btn-primary {
    padding: 20px 25px;
    border-radius: 8px;
    border: 0px;
    font-size: 1.2rem;
  }

  section.team-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  main {
    width: 100%;
    margin: auto;
  }

  section.team-container {
    display: flex;
    width: 75%;
    flex-direction: column;
  }

  .team-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
  }

  .team-content {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  .featuer-container {
    flex-direction: column;
    width: 90%;
  }

  .feature-left {
    width: 100%;
    margin-right: 0px;
  }

  .feature-left-title {
    font-size: 2.2rem;
  }

  .feature-left-top p {
    font-size: 1rem;
  }

  .feature-right {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

  .fact-container {
    width: 90%;
    margin-top: 100px;
  }

  .fact-top {
    width: 100%;
  }

  .fact-top h3 {
    font-size: 2.2rem;
  }

  .fact-top p {
    width: 100%;
    font-size: 1rem;
    margin-top: 30px;
  }

  .fact-bottom {
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    flex-direction: column;
    gap: 20px;
    width: 80%;
  }

  .fact-card {
    border: 1px solid var(--orange);
    border-radius: 8px;
    padding: 36px;
    text-align: center;
  }

  .sponsor-container {
    margin-top: 180px;
    width: 90%;
    margin: 120px auto 0;
  }

  .sponsor-top {
    margin-bottom: 40px;
    width: 100%;
  }
  .sponsor-top h3 {
    font-size: 2.3rem;
    color: var(--dark-01);
  }

  .sponsor-top p {
    width: 100%;
    margin: 24px auto 0;
    font-size: 1rem;
    color: var(--dark-03);
  }

  .sponsor-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 35px;
  }

  .sponsor-bottom img {
    width: 180px;
  }

  .footer {
    width: 90%;
    margin: 100px auto 80px;
  }
}

.ten-years-badge {
  background: var(--orange);
  width: 200px;
  text-align: center;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

/* ============================== */
/*         Responsive Media Query */
/*       Teblat or Medium Devides */
/*=============================== */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    width: 100vw;
  }
  nav {
    flex-direction: column;
  }

  .navbar {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
  }

  .header_title {
    font-size: 2.783rem;
    width: 100%;
    margin-bottom: 40px;
  }

  .navbar ul {
    justify-content: space-evenly;
    width: 100%;
  }

  .banner {
    width: 90%;
    margin: 4rem auto 0;
  }

  .banner_top h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 3.3rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }

  .banner_top p {
    width: 100%;
    text-align: center;
  }

  .team-images {
    width: 90%;
    margin-bottom: 40px;
    grid-template-columns: auto auto;
  }

  section.team-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 130px;
    align-items: center;
    margin: auto;
    margin-top: 40px;
  }

  .team-content {
    width: 100%;
    margin-left: 0;
  }

  .team-images {
    width: 90%;
    margin-bottom: 50px;
    grid-template-columns: auto auto;
  }

  .featuer-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 70px;
  }

  .feature-left {
    width: 100%;
    margin-right: 0;
  }

  .feature-left-top {
    width: 100%;
  }

  .feature-left-top p {
    font-size: 1rem;
  }

  .feature-right {
    width: 100%;
    margin: auto;
  }

  .fact-container {
    width: 90%;
    margin: auto;
    margin-top: 120px;
  }

  .fact-top {
    width: 100%;
  }

  .fact-bottom {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 80px;
    gap: 10px;
  }

  .sponsor-container {
    margin-top: 180px;
    width: 90%;
    margin: 150px auto 0;
  }

  .sponsor-top {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .sponsor-top p {
    width: 100%;
    font-size: 1rem;
  }

  .sponsor-bottom {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .sponsor-bottom img {
    width: 180px;
  }

  .feature-right img {
    width: 100%;
    box-sizing: border-box;
    justify-content: right;
    height: 100%;
  }

  .ten-years-badge {
    background: var(--orange);
    width: 250px;
    text-align: center;
    color: #fff;
    padding: 35px;
    border-radius: 8px;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
}
