/* Import work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============================== */
/*                  Default Style */
/*=============================== */

:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --primaryFont: "Work Sans", sans-serif;
  --bgOrange: rgba(255, 144, 14, 0.1);
  --orange: #ff900e;
  --bgSecondary: #fff4e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
}

.btn-primary {
  background: var(--orange);
  color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  border: 0px;
  font-size: 1.25rem;
}

/* font-family: 'Work Sans', sans-serif; */

/* ============================== */
/*                 Navbar Section */
/*=============================== */
header {
  padding: 2rem 0;
  background: var(--bgOrange);
}
.navbar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title {
  font-size: 2.875rem;
  width: 50%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
ul > li {
  list-style: none;
  /* color: var(--dark-02); */
}

.nav_link {
  text-decoration: none;
  color: var(--dark-02);
}

/* ============================== */
/*                 Banner Section */
/*=============================== */
.banner {
  width: 80%;
  margin: 5rem auto 0;
}

.banner_top {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.banner_top h1 {
  width: 50%;
  margin: 0 auto;
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.banner_top p {
  width: 85%;
  margin: 0 auto 2.5rem;
  color: var(--dark-03);
}
.banner_top button {
}

.banner_bottom {
  width: 100%;
}
.banner_bottom img {
  width: 100%;
}
